
* {
  margin: 0;
  padding-inline-start: 0;
  font-family: var(--ff-primary);
  /* font-family: 'JetBrains Mono', monospace; */
  font-weight: var(--font-weight-regular);
  letter-spacing: -1px;
}

:root {

  font-size: 62.5%;

  --ff-primary: 'JetBrains Mono', monospace;

  --font-size-tiny: 1.0rem;
  --font-size-xxsm: 1.4rem;
  --font-size-xsm: 1.6rem;
  --font-size-sm: 2.0rem;
  --font-size-display: 2.4rem;
  --font-size-large: 3.2rem;
  --font-size-xlarge: 4.8rem;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 600;

  --line-height-close: 140%;
  --line-height-medium: 150%;
  --line-height-far: 160%;
  --line-height-far-away: 180%;

  --bg-color-light: #F6FFE3;
  --bg-color-default: #EDFFC8;
  --bg-color-dark: #B2BF96;

  
  --neutral-color-lightest: #FEFEFE;
  --neutral-color-light: #C3C3C3;
  --neutral-color-dark: #1C1C1C;
  --neutral-color-darkest: #101010;


  --accent-color-default:#96A9F2;
  --accent-color-default:#2C54E4;
  --accent-color-dark:#213FAB;

  --icon-arrow:url('./img/size=sm\,\ type=arrow.svg');
  --icon-arrow-blue:url('./img/size=sm\,\ type=arrow\,azul.svg');
}


body {
  background-color: var(--bg-color-default);
  max-width: 1156px;
  margin: 0 auto;
  align-items: center;

  font-size: var(--font-size-xsm);

}

button, a, img {
  cursor: pointer;
}

.text {
  margin: 400px auto 24px;
  /* align-items: center; */
  
}

#hey {
  display: flex;
  align-items:center;
  gap: 1.6rem;
  height: 42px;

}

#hey p {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-far-away);
  color: var(--accent-color-default);
  color: var(--accent-color-default);

  margin-bottom: 8px;
  
}

#hey button {
  border: none;
  background: none;
  padding-bottom: 6px;
  margin-bottom: 2px;
  
}

#hey button img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#hey button img:hover {
  width: 42px;
  height: 42px;
}

#hey button img:active {
  width: 38px;
  height: 38px;
}

.text h1 {
  font-size: var(--font-size-xlarge);
  line-height: var(--line-height-medium);
  color: var(--neutral-color-darkest);

  margin-bottom: 40px;
}

.hello {
  letter-spacing: -0px;
  text-decoration:underline 3px;
  color: var(--accent-color-default);
  color: var(--accent-color-default);
  cursor: pointer;
}

.hello:hover {
  letter-spacing: 0.2px;
  text-decoration:underline 3px;
  color: var(--accent-color-default);
  color: var(--accent-color-default);
  cursor: pointer;
}


#links {
  list-style: none;
  text-decoration:underline 3px;

  display: flex;
  align-items:center;
  gap: 48px;

}

#links li {
  display: flex;
  align-items:center;
  margin-right: 4px;
  gap: 8px;
  cursor: pointer;

}

#links li:hover {
  margin-right: 0px;
  gap: 12px;
  color: var(--accent-color-default);
  color: var(--accent-color-default);
}

#links li a {
  font-size: var(--font-size-large);
  color: var(--neutral-color-darkest);

  text-decoration: none;
  list-style: none;
  
}

#links li a:hover {
  font-size: var(--font-size-large);
  color: var(--accent-color-default);
  color: var(--accent-color-default);

  text-decoration: none;
  list-style: none;
  
  /* display: flex;
  flex-direction: row; */
}

.arrow {
  width: 40px;
  height: 40px;
  background-image: var(--icon-arrow);
}

/* .arrow :hover {
  background-image: var(--icon-arrow-blue);
} */


footer {
  margin-top: 200px;
  padding-bottom: 16px;
  margin-left: auto;
  margin-right: auto;

  font-size: var(--font-size-xxsm);


  display: flex;
  align-items:center;
  gap: 16px;
}

.link {
  color: var(--accent-color-default);
  color: var(--accent-color-default);
}


/* media queries tablet */

@media (max-width: 1200px) {

  main {
    padding: 0 24px;
  }
  
  .text {
    margin: 260px auto 24px;
    max-width: 800px;
    /* align-items: center; */
    
  }

  .text h1 {
    font-size: var(--font-size-large);
    line-height: var(--line-height-medium);
    color: var(--neutral-color-darkest);
  
    margin-bottom: 40px;
  }

  #links li {

    display: flex;
    margin-right: 4px;
    gap: 8px;
    cursor: pointer;
  
  }

  #links li img {
    width: 40px;
    height: 40px;

  }

  #links li a {
    font-size: var(--font-size-display);
  }

  #links li a:hover {
    font-size: var(--font-size-display);
  }
  
  #links li:hover {
    margin-right: 0px;
    gap: 12px;
    color: var(--accent-color-default);
    color: var(--accent-color-default);
  }

  .arrow {
    width: 32px;
    height: 32px;
    background-image: var(--icon-arrow);
    background-size: cover;
  }

  footer {
    max-width: 800px;
    margin-top: 200px;
    /* padding: 0px 24px 16px; */
  
    display: flex;
    align-items:center;
    gap: 16px;
  }
}




/* media queries mobile */

@media (max-width: 720px) {


  #hey p {
    font-size: var(--font-size-xsm);
    line-height: var(--line-height-far-away);
    color: var(--accent-color-default);
    color: var(--accent-color-default);
  
    margin-bottom: 12px;
    
  }

  .text {
    padding: 80px 24px 24px;
    max-width: 400px;
    /* align-items: center; */
    
  }

  .text h1 {
    font-size: var(--font-size-display);
    line-height: var(--line-height-medium);
    color: var(--neutral-color-darkest);
  
    margin-bottom: 40px;
  }

  #links {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }

  #links li {

    display: flex;
    margin-right: 4px;
    gap: 8px;
    cursor: pointer;
  
  }

  #links li a {
    font-size: var(--font-size-display);
  }

  #links li a:hover {
    font-size: var(--font-size-display);
  }
  
  #links li:hover {
    margin-right: 0px;
    gap: 12px;
    color: var(--accent-color-default);
    color: var(--accent-color-default);
  }

  .arrow {
    width: 28px;
    height: 28px;
    background-image: var(--icon-arrow);
    background-size: cover;
  }

  #hey p {
    font-size: var(--font-size-xsm);
    line-height: var(--line-height-far-away);
    color: var(--accent-color-default);
    color: var(--accent-color-default);
  
    margin-bottom: 12px;
    
  }
  
  #hey button {
    border: none;
    background: none;
    padding-bottom: 6px;
    margin-bottom: 2px;

  }

  #hey button img {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }

  footer {
    margin-top: 200px;
    padding: 0px 24px 16px;

    font-size: var(--font-size-tiny);
  
    display: flex;
    align-items:center;
    gap: 16px;
  }
}