
* {
  margin: 0;
  padding-inline-start: 0;
  font-family: 'JetBrains Mono', monospace;
  font-weight: 400;
}

:root {
  --bg-color-01: #EDFFC8;
  --dark-color-01: #101010;
  --accent-color-01:#2C54E4;
}



body {
  background-color: var(--bg-color-01);
  width: 1156px;
  /* height: 100vw; */
}

.text {
  margin: 320px auto 48px;
  
}

#hey {
  display: flex;
  align-items:center;
  gap: 16px;

}

#hey p {
  font-size: 20px;
  line-height: 180%;
  color: var(--accent-color-01);

  margin-bottom: 8px;
  
}

#hey img {
  padding-bottom: 5px;
  
}

.text h1 {
  font-size: 48px;
  line-height: 140%;
  color: var(--dark-color-01);

  margin-bottom: 88px;
}

#links {
  list-style: none;
  text-decoration:underline 3px;

  display: flex;
  align-items:center;
  gap: 48px;
}

#links li {
  display: flex;
  align-items:center;
  gap: 8px;

}

#links li a {
  font-size: 32px;
  color: var(--dark-color-01);

  text-decoration: none;
  list-style: none;
  
  /* text-decoration:underline; */
}

/* li {
  text-decoration: none;
}
.text ul li {
  font-size: 40px;
  line-height: 133%;
  color: var(--dark-color-01);
} */